.row {
  display: flex;
  justify-content: right;
}


.typs-heading-hero {
  font-weight: 400;
}

small {
  font-size: 0.75rem; /* 12px */
}

.Sentences{
  position: flex;
  justify-content: left;
  font-size: 40px; /* Adjust font size */
  font-style: italic; /* Adjust font style */
  font-weight: bold; /* Adjust font weight */
  text-align: left; /* Adjust text alignment */
  margin-top: 30px; /* Adjust top margin */
  margin-left: 30px; /* Adjust top margin */
  font-family: Cursive, "Helvetica Neue", Arial, sans-serif; 
}


.Name{
  position: flex;
  justify-content: left;
  font-size: 100px; /* Adjust font size */
  font-style: italic; /* Adjust font style */
  font-weight: bold; /* Adjust font weight */
  text-align: left; /* Adjust text alignment */
  margin-top: 100px; /* Adjust top margin */
  margin-left: 30px; /* Adjust top margin */
  font-family: Fantasy, "Helvetica Neue", Arial, sans-serif; 
}


.description{
  position: flex;
  font-size: 18px; /* Adjust font size */
  font-style: italic; /* Adjust font style */
  text-align: left; /* Adjust text alignment */
  margin-top: 30px; /* Adjust top margin */
  margin-top: 30px; /* Adjust top margin */
  font-family: Arial, "Helvetica Neue", Arial, sans-serif; 
}

.button{
  position: flex;
  justify-content: left;
  text-align: left; 
  margin-top: 30px; /* Adjust top margin */
  margin-left: 30px; /* Adjust top margin */
}
